ul{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
background-color:#333333;}
li{float:left;}
li a{
display:block;
color:white;
text-align:center;
padding:16px;
text-decoration:none;}
li a:hover{
background-color:#111111;
}
h2 {
    padding-top: 25px;
    text-align: center;
    color: brown;

}
p {
    padding: 15px;
    padding-left: 25px;
    padding-right: 40px;
    font-size:20px;
}
h3{
 padding-left: 35px;
    color: palevioletred;
}
img{
    padding-left: 30px;
}